<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- <meta property="fb:app_id" content="my_fb_id" />
  <meta property="og:image" content="https://saveatnow.com/Metaimagjpg" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="400" />
  <meta property="og:title" content="Savæt: ¡Gana y ayuda al mundo!" />
  <meta property="og:description" content="Plataforma que une locales y consumidores para ayudar y ahorrar en el proceso." />
  <meta property="og:url" content="https://saveatnow.com" />
  <meta property="og:site_name" content="Savæt" />
  <meta property="og:type" content="website" />
  <link rel="shortcut icon" href="<%= BASE_URL %>logo.ico" />
  <link rel="icon" href="<%= BASE_URL %>logo.ico" />
  <meta name="description" content="Savæt: ¡Gana y ayuda al mundo!" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css" /> -->

  <!-- Prueba descripción Whatsapp -->
  <meta name="description" content="Plataforma que une locales y consumidores">
  <meta property="og:title" content="Savæt: ¡Gana y ayuda al mundo!" />
  <meta property="og:url" content="https://www.saveatnow.com" />
  <meta property="og:description" content="Plataforma que une locales y consumidores para ayudar y ahorrar en el proceso.">
  <meta property="og:image" itemprop="image" content="http://www.sabeatnow.com/playstore.png">

  <meta property="og:type" content="website" />
  <meta property="og:locale:alternate" content="es_ES" />
  <link rel="apple-touch-icon" sizes="128x128" href="appstore.png">

  <!--FACEBOOK-->
<!-- <meta property="og:title" content="Savæt: ¡Gana y ayuda al mundo!" />
<meta property="og:description" content="Salvand al mundo una bolsa a la vez" />
<meta property="og:image" content="http://www.sabeatnow.com/img/appstore.png" />   -->

  <title>saveat</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/landing-page.css" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="img/favicon.ico" type="image/x-icon">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <img src="img/6.png" width="150" alt="" class="d-inline-block align-middle mr-2">
      <a class="btn btn-primary" href="mailto:info@saveatnow.com?subject=Contacto Web Saveat!&body=Gracias por ponerte en contacto con nosotros! Escríbenos lo que necesites y te responderemos a la brevedad!">Contáctanos</a>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">¡Uniendo locales y consumidores para disminuir la cantidad de alimentos desechados!</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form method="POST" autocomplete="off" name="google-sheet-interesados">
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="text" name="Email" class="form-control form-control-lg" placeholder="¡Ingresa tu mail y te contamos más!" value="" required="">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" name="submit" class="btn-block btn btn-block btn-lg btn-primary">¡Avísame!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-mobile-alt m-auto text-primary"></i>
            </div>
            <h3>Plataforma</h3>
            <p class="lead mb-0">App que une consumidores finales con negocios de comida.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-hand-holding-usd m-auto text-primary"></i>
            </div>
            <h3>Vende Más</h3>
            <p class="lead mb-0">Aumenta tus ingresos vendiendo la merma del día.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-globe-americas m-auto text-primary"></i>
            </div>
            <h3>Agente de Cambio</h3>
            <p class="lead mb-0">Genera junto a tu negocio un impacto positivo el mundo.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-1.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Salvemos el planeta</h2>
          <p class="lead mb-0">Un tercio de la comida producida a nivel mundial se desperdicia.
            <br />10% de los gases de efecto invernadero son producido por el desperdicio de comida.
            <br />En Chile se botan más de 3,7 millones de toneladas de comida al año. </p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/bg-showcase-2.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>¡Es hora de tomar acción!</h2>
          <p class="lead mb-0">En Saveat buscamos dar solución a ese problema ofreciendo una plataforma que una
            consumidores con locales para que puedan vender la merma al final del día. </p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-3.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Ayuda a tu bolsillo en el proceso </h2>
          <p class="lead mb-0">Locales ven un aumento en sus ingresos pudiendo vender más al final del día.
            <br /> Consumidores pueden optar por precios reducidos y ahorrar en el proceso.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <!-- <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Qué dicen la gente...</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt="">
            <h5>Margaret E.</h5>
            <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt="">
            <h5>Fred S.</h5>
            <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="">
            <h5>Sarah W.</h5>
            <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">¿Eres restaurante y estás interesado?</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <div class="container register">
            <div class="row">
              <div class="col-md-12">
                <div class="tab-pane fade show active text-align form-new" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="row register-form">
                    <div class="col-md-12">
                      <form method="post" autocomplete="off" name="google-sheet">
                        <div class="form-group">
                          <input type="text" name="Name" class="form-control form-control form-control-lg" placeholder="Nombre *" value="" required="" />
                        </div>
                        <div class="form-group">
                          <input type="text" name="Email" class="form-control form-control form-control-lg" placeholder="Email *" value="" required="" />
                        </div>
                        <div class="form-group">
                          <input type="number" name="Phone" class="form-control form-control form-control-lg" placeholder="Número de Teléfono *" value="" required="" />
                        </div>
                        <div class="form-group">
                          <input type="text" name="Restaurante" class="form-control form-control form-control-lg" placeholder="Nombre Restaurante o Local *" value="" required="" />
                        </div>
                        <div class="form-group">
                          <input type="submit" name="submit" class="btnSubmit btn-block btn btn-block btn-lg btn-primary" value="¡Contáctanos!" />
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2 lista">
            <li class="list-inline-item abc">
              <a class="abc" href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a class="abc" href="mailto:info@saveatnow.com">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a class="abc" href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a class="abc" href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Saveat 2020. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="https://www.facebook.com/saveatcl/">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="https://www.linkedin.com/company/saveatcl/">
                <i class="fab fa-linkedin fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/saveatcl/">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Google Sheets Restaurantes -->
  <script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbyB5Qcnop6IhfhR17W1Jegik2DywXQPsA_bAe7rNmVi8xHDm7k/exec'
    const form = document.forms['google-sheet']

    form.addEventListener('submit', e => {
      e.preventDefault()
      fetch(scriptURL, {
          method: 'POST',
          body: new FormData(form)
        })
        .then(response => alert("Gracias por tu interés! Nos pondremos en contacto contigo pronto!"))
        .catch(error => console.error('Error!', error.message))
    })


  <!-- Google Sheets Interesados -->

    const scriptURL1 = 'https://script.google.com/macros/s/AKfycbwYRPM5TuB6uXw7MiiJKDh0zL3C9vJHs75nY_xCalmgNZOUnAM/exec'
    const form1 = document.forms['google-sheet-interesados']

    form1.addEventListener('submit', e => {
      e.preventDefault()
      fetch(scriptURL1, {
          method: 'POST',
          body: new FormData(form1)
        })
        .then(response => alert("¡Gracias por tu interés! ¡Nos pondremos en contacto contigo pronto!"))
        .catch(error => console.error('Error!', error.message))
    })
  </script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>
